<!DOCTYPE html>
<html lang="en">
<head>
    {#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"#}
    {#          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">#}
    {#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"#}
    {#            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"#}
    {#            crossorigin="anonymous"></script>#}
    <meta charset="UTF-8">
    <title>NovelCollection</title>
</head>

<body>
<table>
    <tr>
        <td><span>Request</span></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="narou/">小説家になろう</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="hameln/">ハーメルン</a></td>
    </tr>
        <tr>
        <td><a href="download/">ダウンロード</a></td>
    </tr>
</table>


</body>
</html>